#e-waste-head{
    height: 100%;
}

#e-waste-head .row{
    padding: 50px;
}

#e-waste{
    height: 100%;
    background-color: white;
}

#e-waste .row{
    padding: 50px 200px;
} 

#e-waste .row p{
    font-size: 1.2rem;
    color: #808080;
}

#e-waste .row button{
    padding: 10px 20px;
    background-color: #5dc774;
    border: none;
    border-radius: 35px;
    color: white;
    margin-top: 30px;
}

#e-waste .row button a{
    text-decoration: none;
    color: white;
}

#e-waste .row #col2{
    margin-top: 45px;
}

#e-waste .row .card{
    height: 100%;
    border: 2px solid #d1d0d0;
    border-radius: 10px;
}

#e-waste .row .card .i i{
    font-size: 1.5rem;
    background-color: #5dc774;
    padding: 20px;
    border-radius: 50%;
    color: white;
    position: relative;
    top: -35px;
}

@media screen and (max-width: 1200px){

    #e-waste .row{
        padding: 50px 50px;
    } 

}

@media screen and (max-width: 395px){

    #e-waste .row{
        padding: 50px 50px;
    }
    
    /* #e-waste .row .card h3{
        font-size: 20px;
    }

    #e-waste .row .card p{
        font-size: 15px;
    } */

    #e-waste .row .card{
        max-width: 13rem;
    }

}