#event-waste-head{
    height: 100%;
}

#event-waste-head .row{
    padding: 50px;
}

#event-waste{
    height: 100%;
    background-color: white;
}

#event-waste .row{
    padding: 50px 200px;
} 

#event-waste .row p{
    font-size: 1.2rem;
    color: #808080;
}

#event-waste .row button{
    padding: 10px 20px;
    background-color: #5dc774;
    border: none;
    border-radius: 35px;
    color: white;
    margin-top: 10px;
}

#event-waste .row button a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1200px){

    #event-waste .row{
        padding: 50px 50px;
    } 

}