#industrial-waste-head{
    height: 100%;
}

#industrial-waste-head .row{
    padding: 50px;
}

#industrial-waste{
    height: 100%;
    background-color: white;
}

#industrial-waste .row{
    padding: 50px;
}    

#industrial-waste .row p{
    font-size: 1.2rem;
    color: #808080;
}

#industrial-waste .row #col1{
    padding: 20px 200px;
}

#industrial-waste .row #col2{
    padding: 20px 20px;
}

#industrial-waste .row #col3 button{
    padding: 10px 20px;
    background-color: #5dc774;
    border: none;
    border-radius: 35px;
    color: white;
    margin-top: 10px;
}

#industrial-waste .row #col3 button a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px){

    #industrial-waste .row #col1{
        padding: 20px 20px;
    }
}