#press-head{
    height: 100%;
}

#press-head .row{
    padding: 50px;
}

#press-media{
    height: 100%;
    background-color: white;
}

#press-media .row{
    width: 80%;
    padding: 48px;
}

#press-media .row .col-lg-4{
    padding: 20px;
}

@media screen and (max-width: 600px){

    #press-media #row1{
        padding: 0px;
    }

}