#pick{
    height: 100%;
}

#pick .row{
    padding: 50px;
}

#pick-form{
    background-color: white;
}

#pick-form #row2 button{
    background-color: #5dc774;
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid #5dc774;
    color: white;
} 