#asset-liq-head{
    height: 100%;
}

#asset-liq-head .row{
    padding: 50px;
}

#asset-liq{
    height: 100%;
    background-color: white;
}

#asset-liq .row{
    padding: 50px 200px;
} 

#asset-liq .row p{
    font-size: 1.2rem;
    color: #808080;
}

#asset-liq .row button{
    padding: 10px 20px;
    background-color: #5dc774;
    border: none;
    border-radius: 35px;
    color: white;
    margin-top: 30px;
}

#asset-liq .row button a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1200px){

    #asset-liq .row{
        padding: 50px 50px;
    } 

}