#commercial-waste-head{
    height: 100%;
}

#commercial-waste-head .row{
    padding: 50px;
}

#commercial-waste{
    height: 100%;
    background-color: white;
}

#commercial-waste .row{
    padding: 50px;
}

#commercial-waste .row #col1{
    padding: 20px 200px;
}

#commercial-waste .row #col1 p{
    font-size: 1.2rem;
    color: #808080;
}

#commercial-waste .row #col1 button{
    padding: 10px 20px;
    background-color: #5dc774;
    border: none;
    border-radius: 35px;
    color: white;
    margin-top: 10px;
}

#commercial-waste .row #col1 button a{
    color:white;
    text-decoration: none;
}

@media screen and (max-width: 1200px){

    #commercial-waste .row #col1{
        padding: 20px 20px;
    }

}