#product-dest-head{
    height: 100%;
}

#product-dest-head .row{
    padding: 50px;
}

#product-dest{
    height: 100%;
    background-color: white;
}

#product-dest .row{
    padding: 50px 200px;
}    

#product-dest .row p{
    font-size: 1.2rem;
    color: #808080;
}

#product-dest .row i{
    color: #54be73;
}

#product-dest .row #col7 button{
    padding: 10px 20px;
    background-color: #5dc774;
    border: none;
    border-radius: 35px;
    color: white;
    margin-top: 10px;
}

#product-dest .row #col7 button a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px){

    #product-dest .row{
        padding: 50px 50px;
    } 

}